<h2 class="billboard">CARTELERA DE CINE SEMANAL</h2>

<div class="film-container">
  <div *ngIf="movies.length > 0">
    <div *ngFor="let movie of movies | paginate: { itemsPerPage: 4, currentPage: p }" class="weeklyFilm">


      <img src="{{movie.poster}}"
      alt="{{movie.title}}" style="width: 200px;">
        <div class="overlay">
          <span [routerLink]="['/dashboard/peliculas/pelicula', movie.id]" class="button">VER HORARIOS</span>
        </div>


    </div>
  </div>
  <div *ngIf="movies.length == 0">
    <p>No hay películas disponibles</p>
  </div>
</div>

<div class="paginator">
  <pagination-controls (pageChange)="p = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  autoHide:true
  ></pagination-controls>
</div>




