<ng-container>   
    <div fxLayout="column" class="content">
        <div class="near-events">
            <p class="title">Encuentra eventos cerca</p>
            <explore-google-map></explore-google-map>
            <explore-near-events></explore-near-events>
        </div>
        <div class="explore-more-events">
            <h2>Explora más eventos</h2>
            <div class="popular-now">
                <p>Populares</p>
                <explore-popular-now></explore-popular-now>
            </div>
        </div>
        <div class="explore-popular-posts">
            <div class="popular-post">
                <h2>Publicaciones más populares</h2>
                <explore-popular-post></explore-popular-post>
            </div>
        </div>
    </div>
</ng-container>

