.new-group{
    background-color: #FFFCEF;
}

.tip-title{
    color: #30DC7A;
}

.next-button{
    background-color: #FFAD00;
    color: white;
}
.back-button{
    background-color: #FFFFFF;
    color: black;
}
